<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="here is where we will calculate the user's bill and write out their order for them to check">
    <title>Chimken Checkout</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../../static/mobile.css" rel="stylesheet" media="screen and (max-aspect-ratio: 8/7)">
    <link href="../../static/styles.css" rel="stylesheet" media="screen and (min-aspect-ratio: 8/7)">
</head>
<body>
    <!-- should add some options for them to go back to home, as well as remove any orders they do not want. But to remove any orders they dont want from this page alone, we would need js to dynamically change the final cost... If js doesnt work, stick to editing of the order by going back to home</div> -->
    <a href="/home">
        <button>Home</button>
    </a>
    <div>
        {% for item in items_ordered %}
            <p>{{ item }}</p>
        {% endfor %}
    </div>
    <div>
        {% for amt in item_amts_ordered_filtered %}
            <p>{{ amt }}</p>
        {% endfor %}
    </div>
    <div>
        {% for price in price_list %}
            <p> {{ price }} </p>
        {% endfor %}
    </div>
    <div>
        {{ total_cost }}
    </div>
    <form method="POST" action="/payment">
        <input type="hidden" name="items_ordered" value="{{ items_ordered }}">
        <input type="hidden" name="price_list" value="{{ price_list }}">
        <input type="hidden" name="total_cost" value="{{ total_cost }}">
        <button type="submit">Go to Payment</button>
    </form>
</body>
</html>