<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimken Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../../static/mobile.css" rel="stylesheet" media="screen and (max-aspect-ratio: 8/7)">
    <link href="../../static/styles.css" rel="stylesheet" media="screen and (min-aspect-ratio: 8/7)">
</head>
<body>
    <div>
        <a href="/" class="top_banner">
            <img id="chimken_small_logo" src="../../static/Chimken_logo.jpg" alt="chimken_main_logo">
        </a>
    </div>
    <div id="centering_the_fucking_white_form">
        <form method="POST" action="/checkout" class="food_tiles">
            <div class="food_tile">
                <img class="food_image" src="../../static/SSL_steamed_chicken_rice.jpg" alt="Steamed Chicken Rice">
                <label for="steamed_chicken_rice_amt">Steamed Chicken Rice</label>
                <input type="number" name="steamed_chicken_rice_amt" id="steamed_chicken_rice_amt" value="0" min="0" max="9" required>
            </div>
            <div class="food_tile">
                <img class="food_image" src="../../static/SSL_whole_steamed_chicken.jpg" alt="Whole Steamed Chicken">
                <label for="half_steamed_chicken_amt">Half Steamed Chicken</label>
                <input type="number" name="half_steamed_chicken_amt" id="half_steamed_chicken_amt" value="0" min="0" max="9" required>
            </div>
            <div class="food_tile">
                <img class="food_image" src="../../static/SSL_half_steamed_chicken.jpg" alt="Half Steamed Chicken">
                <label for="whole_steamed_chicken_amt">Whole Steamed Chicken</label>
                <input type="number" name="whole_steamed_chicken_amt" id="whole_steamed_chicken_amt" value="0" min="0" max="9" required>
            </div>
            <button type="submit" id="checkout_button">Checkout</button>
        </form>
    </div>
</body>
</html>