<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimken Payment</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../../static/mobile.css" rel="stylesheet" media="screen and (max-width: 900px)">
    <link href="../../static/styles.css" rel="stylesheet" media="screen and (min-width: 900px)">
</head>
<body class="body_centered">
    <!-- here we will provide the qr code for paynow, den also provide the 'input' where they can submit their ss of the shi, plus a submit button to submit their ss. 
    Once submitted, will bring them to another page, think ill name it 'confirmation.html'. First, it will be 'checking ss validity' or 'checking for payment'.
    then once checked by YOLO or owner, will change to 'payment is successful! order has been sent through and will be 'completed shortly' OR 'in 5mins', see if owner want to implement smth liddat. -->
    <div class="top_banner">
        <img id="home_button" src="../../static/home_button.jpg" alt="home_button">
        <a href="/">
            <img id="chimken_small_logo" src="../../static/Chimken_logo.jpg" alt="chimken_main_logo">
        </a>
    </div>
    <!-- <div class="receipt"> FOR AFTER PAYMENT, U GET RECEIPT
        <h2>
            Order Summary
        </h2>
        <div id="col_headers">
            <h3 class="header_name header_name_item">Item</h3>
            <h3 class="header_name header_name_quantity">Quantity</h3>
            <h3 class="header_name header_name_cost">Cost</h3>
        </div>
        <div class="receipt_grid_contents">
            <h4 class="column_item">Whole Steamed Chicken</h4>
            <h4 class="column_quantity">9</h4>
            <h4 class="column_cost">$180.00</h4>
        </div>
    </div> -->
    <p id="what_time_you_want">Choose your time of collection:</p>
    <div class="order_time_container">
        <button class="change_min" id="increase_min">v</button>
        <div id="time_container">
            <select class="collect_order_time" name="collection_hour" id="collection_hour">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <!-- <div class="collect_order_time" id="order_time_hour">0</div> -->
            <p class="collect_order_time" id="collection_colon">:</p>
            <div class="collect_order_time" id="collection_minute">00</div>
            <select class="collect_order_time" id="collection_ampm">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>
        <button class="change_min" id="decrease_min">v</button>
    </div>
    <div>
        <form method="POST" action="/confirmation" id="hidden_form">
            <div id="paynow_cost_container">
                <p>Total ({{total_amts}} {{itemsss}}): </p>
                <p class='murney col_label' id='paynow_cost'>${{ total_cost }}</p>
            </div>
            <div class="paynow_qr_container">
                <p> Please scan below to pay with Paynow </p>
                <div id="paynow_qr_placeholder"></div>
                <!-- <img id="paynow_qrcode" src="" alt="paynow_qrcode"> -->
            </div>
            <input type="hidden" name="collection_hour_input" value="empty_hour" id="collection_hour_input">
            <input type="hidden" name="collection_minute_input" value="empty_minute" id="collection_minute_input">
            <input type="hidden" name="collection_ampm_input" value="empty ampm" id="collection_ampm_input">
            <input type="hidden" name="items_ordered" value="{{ items_ordered }}">
            <input type="hidden" name="item_amts_ordered" value="{{ item_amts_ordered }}">
            <input type="hidden" name="item_amts_ordered_filtered" value="{{ item_amts_ordered_filtered }}">
            <input type="hidden" name="price_list" value="{{ price_list }}">
            <!-- <input type="hidden" name="order_no" value="{{ order_no }}"> -->
            <input type="hidden" name="order_time" value="{{ order_time }}">
            <input type="hidden" name="order_date" value="{{ order_date }}">
            <input type="hidden" name="total_cost" value="{{ total_cost }}">
            <p> CONFIRM PAYMENT BUTTON BELOW </p>
            <p>Payment is based on trust, please be honest :) </p>
            <button id="confirmation_button" type="submit"> Yes, I have paid </button>
        </form>
        <form method="POST" action="/js_home" id="remember_order">
            <input type="hidden" name="item_amts_ordered" value="{{ item_amts_ordered }}" id="item_amts_ordered_remember">
            <input type="hidden" name="total_cost" value="{{ total_cost }}" id="total_cost_remember">
        </form>
    </div>
    <!-- <form id="payment_form"> IF CAN GET DBS RAPID API FOR CHEAP, THEN DONT NEED THIS
        <div>
            <label for="paynow_ss">Enter your Paynow Screenshot:</label>
            <input type="file" name="paynow_ss" id="paynow_ss" accept="image/*" required>
        </div>
        <div>
            <input type="hidden" name="items_ordered" value="{{ items_ordered }}">
            <input type="hidden" name="price_list" value="{{ price_list }}">
            <input type="hidden" name="total_cost" value="{{ total_cost }}">
        </div>
        <div>
            <button type="submit">Submit Screenshot</button>
        </div>
    </form> -->

    <!-- IF I GET THE DBS RAPID API, CAN HAVE THE API SIMPLY SEND A REQUEST TO confirmation.html WITHOUT HAVING TO DO ANYTH FROM payment.html. but need to figure out how to change html without doing anyth -->
    <script src="../../static/checkout_and_co.js"></script>
</body>
</html>