body {
    text-align: center;
    background-color: #efe8dd
}

/* Login CSS */

#chimken_login_logo_mobile {
    display: block;
    margin-top: 20%;
    margin-bottom: 20%;
}

#chimken_login_logo {
    width: 82%;
}

.login_buttons {
    display: inline-block;
    margin: 3%;
    text-decoration: none;
    color: #efe8dd;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #ff3131;
    border-radius: 12px;
    font-size: larger;
}

.bottom_text_div {
    margin-top: 175px;
}

.bottom_text {
    text-decoration: none;
    color: black;
}

/* Customer Home CSS */

.top_banner {
    display: block;
    width: 100%;
    border-bottom: 5px solid #ff3131;
}

#centering_the_fucking_white_form {
    display: flex;
    justify-content: center; /* horizontal center */
    height: 100vh;           /* full viewport height */
}

.food_tiles {
    height: auto;         
    padding: 10px;
    padding-left: 19px; 
    background-color: aliceblue;
}

.food_price {
    border-radius: 7px;
    margin-right: 7px;
    margin-left: 5px;
    padding: 1px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #ff3131;
    color: #efe8dd;
}

input {
    width: 24px;
    border-radius: 20px;
    padding-left: 7px;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.food_image {
    display: block;
    width: 240px;
    height: 180px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#checkout_button {
    margin-top: 46px;
    margin-bottom: 19px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    border-radius: 10px;
    height: 29px;
    background-color: #ff3131;
    color: aliceblue;
}

/* Checkout CSS */

body.body_centered {
    text-align: center;
}

#chimken_small_logo_centered {
    width: 240px;
}

#back_button {
    width: 32px;
    position: absolute;
    left: 24px;
    top: 19px;
}