body {
    background-color: #efe8dd;
    font-family: 'Open Sans', sans-serif;
}

/* Login CSS */

#chimken_login_logo {
    display: block;
    margin: 5%;
    width: 40%;
}

.login_buttons {
    display: inline-block;
    margin: 1%;
    margin-left: 9%;
    text-decoration: none;
    color: #efe8dd;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #ff3131;
    border-radius: 10px;
    font-size: large;
}

.bottom_text_div {
    position: absolute;
    bottom: 0;
    left: 190px;
    bottom: 100px;
}

.bottom_text {
    text-decoration: none;
    color: black;
}

/* Customer Home CSS */



#chimken_small_logo {
    margin: 8px;
    width: 200px;
}

.top_banner {
    display: block;
    width: 100%;
    border-bottom: 5px solid #ff3131;
}

#centering_the_fucking_white_form {
    display: flex;
    justify-content: center; /* horizontal center */
    height: 100vh;           /* full viewport height */
}

.food_tiles {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 1600px;
    background-color: white;
}

.food_tile {
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 25px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 20px;
    padding-right: 29px;
    margin-bottom: 75px;
    background-color: rgb(224, 200, 200);
}

input {
    display: block;
    width: 40px;
    border-radius: 20px;
    padding-left: 12px;
    margin-top: 20px;
    margin-left: 234px;
    font-size: 22px;
}

.food_image {
    display: block;
    width: 520px;
    height: 400px;
    margin: 3%;
    border-radius: 20px;
}

#checkout_button {
    margin: 7%;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    border-radius: 10px;
    height: 3%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #ff3131;
    color: aliceblue;
}

/* Checkout CSS */

body.body_centered {
    text-align: center;
}

#chimken_small_logo_centered {
    width: 240px;
}

#back_button {
    width: 32px;
    position: absolute;
    left: 24px;
    top: 19px;
}

/* Payment CSS */

