body {
    background-color: #efe8dd;
    font-family: 'Open Sans', sans-serif;
}

/* Login CSS */

#chimken_login_logo {
    display: block;
    margin: 5%;
    width: 40%;
}

.login_buttons {
    display: inline-block;
    margin: 25px;
    margin-left: 9%;
    text-decoration: none;
    color: #efe8dd;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #ff3131;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.2s ease-out;
    border: none;
}

.login_buttons:hover {
    margin: 22px;
    margin-left: 9%;
    font-size: 22px;
}

.login_buttons:active {
    filter: brightness(80%);
}

#enter_hawker_id {
    opacity: 0;
    margin: 25px 0;
    font-size: 24px;
    transition: all 0.4s ease-out;
} 

#enter_hawker_id.appear {
    opacity: 1;
    margin-left: 9%;
}


.bottom_text_div {
    position: absolute;
    bottom: 0;
    left: 190px;
    bottom: 100px;
}

.bottom_text {
    text-decoration: none;
    color: black;
}

/* Customer Home CSS */

#chimken_small_logo {
    margin: 8px;
    width: 200px;
}

.top_banner {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #ff3131;
    background-color: #efe8dd;
    z-index: 1;
}

.flying_scr {
    top: 8%;
    right: 80%;
}

.flying_hsc {
    top: 8%;
    right: 30%;
}

.flying_wsc {
    top: 8%;
    right: 10%;
}

.flying_fud {
    opacity: 0;
    position: fixed;
    width: 400px;
}

.fly_in {
    transition: all 0.8s ease-out;
    position: fixed;
    opacity: 1;
    top: 15px;
    right: 22px;
    width: 40px;
}

#checkout_area {
    display: flex;
    position: fixed;
    top: 9px;
    right: 15px;
    font-size: 22px;
    background-color: #efe8dd;
    border-radius: 25px;
    border: 2px solid grey;  
    transition: all 0.1s ease;
    z-index: 2;
}

#next_to_checkout {
    margin: auto 15px;
}

#checkout_icon {
    display: none;
    width: 49px;
    margin: 7px 0px;
    margin-right: 12px;
    transition: all 0.2s ease-out;
}

#checkout_icon:hover {
    margin-top: 2px;
    margin-bottom: 12px;
    width: 53px;
}

#centering_the_fucking_white_form {
    width: 70%;
    gap: 14%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 7%;
}

.food_tile {
    margin-top: 25px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 20px;
    padding-right: 29px;
    margin-bottom: 75px;
    background-color: rgb(224, 200, 200);
}

.food_price_and_name {
    text-align: center;
}

.murney {
    font-family: 'Roboto', sans-serif;
}

.food_price {
    border-radius: 7px;
    margin-right: 15px;
    padding: 2px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #ff3131;
    color: #efe8dd;
}

.minus_plus_quantity {
    display: flex;
    justify-content: space-between;
    margin-left: 29px;
    margin-bottom: 10px;
}

.food_image {
    display: block;
    width: 390px;
    height: 300px;
    margin: 3%;
    border-radius: 20px;
}

#checkout_button {
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    border-radius: 10px;
    height: 35px;
    background-color: #ff3131;
    color: aliceblue;
    margin: 240px;
}

/* Checkout CSS */

body.body_centered {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#home_button {
    width: 40px;
    position: absolute;
    left: 24px;
    top: 17px;
}

.order_details {
    margin: 0px auto;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    background-color: lightyellow;
    width: 800px;
    border: 1px solid grey;
    border-radius: 19px;
}

.order_box {
    margin: 40px;
    text-align: left;
}

.col_label {
    font-weight: bold;
}

#item_amts_ordered {
    text-align: center;
}

#cost_list {
    text-align: center;
}

.bottom_cost_row {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 19px;
}

.total_cost_shi {
    margin: 40px 120px;
    font-size: 20px;
}

#payment_button {
    padding: 10px 20px;
    color: #efe8dd;
    background-color: #ff3131;
    font-size: 15px;
    border-radius: 19px;
}

#payment_button:hover {
    font-size: 17px;
}

#payment_button:active {
    filter: brightness(80%);
}


/* Payment CSS */

#what_time_you_want {
    margin-top: 95px;
}

#order_time_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.change_min {
    font-size: 20px;
    margin-left: 27px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.change_min:hover {
    font-size: 24px;
}

.change_min:active {
    filter: brightness(80%);
}

#increase_min {
    transform: rotate(180deg);
}

#time_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.collect_order_time {
    font-size: 24px;
    border: 2px solid black;
    width: 2em;
    margin: 5px 5px;
    background: none;
}

#collection_hour {
    margin-right: 0;
    width: 2em;
}

#collection_colon {
    border: none;
    margin: 5px 0;
    padding: 0px 0px;
}

#collection_minute {
    padding-left: 3px;
    width: 2em;
    margin-left: 0;
    letter-spacing: 0.2em;
}

#collection_ampm {
    width: 2.5em;
}

#paynow_cost_container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 0px;
}

#paynow_cost {
    margin-top: 29px;
    font-size: 29px;
    margin-left: 12px;
    color: rgb(248, 64, 8);
}

.paynow_qr_container {
    margin: 0 auto;
}

#paynow_qr_placeholder {
    margin: 30px auto;
    width: 250px;
    height: 250px;
    border: 2px solid black;
}

#confirmation_button {
    font-size: 15px;
    margin: 35px;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid black;
}

#confirmation_button:hover {
    font-size: 17px;
}

#confirmation_button:active {
    filter: brightness(80%);
}

/* Confirmation.html */

.order_success {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    background-color: #f8ebd1;
    width: 90%;
    border: 1.5px solid rgb(192, 192, 192);
}

#order_time {
    font-size: 15px;
}

#bit_unc {
    width: 240px;
}

#order_status {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
}

.loading_dots {
    display: hidden;
}

.time_to_fud {
    margin: 40px;
}

#collect_in {
    font-size: 20px;
}

#collection_time {
    font-size: 39px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.receipt {
    margin: 25px;
    background-color: white;
    justify-content: left;
    font-family:'Courier New', Courier, sans-serif;
    border: 1px solid grey;
}

.shop_details {
    font-weight: 560;
}

.dotted_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-weight: 560;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

#receipt_date {
    margin: 0;
}

#receipt_time {
    margin: 0;
    margin-bottom: 10px;
}


#shop_name {
    font-size: 20px;
}

.receipt_grid {
    border: none;
    background-color: white;
    margin-top: 0;
}

.total_cost_receipt {
    margin-top: 46px;
    font-weight: 560;
}

.receipt_bottom {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    font-weight: 560;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

#THANKU {
    margin-top: 90px;
    margin-bottom: 40px
}


/*
#col_headers {
    display: flex;
    margin: 0 auto;
    width: 800px;
    border-bottom: 2px solid black;
}

.header_name {
    margin: 10px 0px;
}

.header_name_item {
    margin-left: 39px;
}

.header_name_quantity {
    margin-left: 340px;
}

.header_name_cost {
margin-left: 170px;
}


.receipt_grid_contents {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr; 
    gap: 20px; 
    margin-left: 69px;
}


.receipt_grid_contents h4 {
    text-align: left;
    margin: 0; 
    padding: 10px;
}
 */
