<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimken Checkout</title>
</head>
<body>
    <div>here is where we will calculate the user's bill and write out their order for them to check</div>
    <div>should add some options for them to go back to home, as well as remove any orders they do not want. But to remove any orders they dont want from this page alone, we would need js to dynamically change the final cost... If js doesnt work, stick to editing of the order by going back to home</div>
    <a href="payment/">
        <button>payment</button>
    </a>
</body>
</html>