<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <!-- flask-socketio script link -->
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <!-- flask-socketio script link -->
  <!-- Firebase app and Firestore database functionality script links -->
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <!-- Firebase app and Firestore database functionality script links -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:900px)">
  <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
  <div id="data-holder" data-msg-list='{{ lesgo_dbs_list | tojson | safe }}' style="display:none;"></div>
  <div class="top_banner">
    <a href="/">
        <img id="chimken_small_logo" src="../../static/Chimken_logo.jpg" alt="chimken_main_logo">
    </a>
  </div>
  <div class="hello_user_container">
    Hello, <span id="hello_user"> Mr.  {{name}} </span>
  </div>
  <img src="../../static/bit_unc_v1.png" id="admin_profile_pic" alt="SSL_pic">
  <div id="all_orders">
    <div class="orders_container">
      <p> Today's Orders: </p>
      <div id="orders">
      </div>
    </div>
    <div class="orders_container" id="not_impt_orders_container">  
    <p> Dismissed Orders: </p>
      <div id="not_impt_orders">
      </div>
    </div>
  </div>
  <script src="../static/dashboard.js"></script>
</body>
</html>