<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimken</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../../static/mobile.css" rel="stylesheet" media="screen and (max-width:900px)">
    <link href="../../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body class="login_page">
    <div>
        <a href="/" id="chimken_login_logo_mobile">
            <img id="chimken_login_logo" src="../../static/Chimken_logo.jpg" alt="chimken_main_logo">
        </a>
    </div>
    <div>
        <a href="/js_home" class="login_buttons">Customer</a>
    </div>
    <div>
        <a href="/js_home" class="login_buttons">Hawker</a>    
    </div>
    <div class="bottom_text_div">
        <a class="bottom_text" href="https://www.google.com/maps?rlz=1C1GCEA_enSG1147SG1147&gs_lcrp=EgZjaHJvbWUqDwgAECMYJxjjAhiABBiKBTIPCAAQIxgnGOMCGIAEGIoFMhIIARAuGCcYrwEYxwEYgAQYigUyDQgCEC4YgwEYsQMYgAQyBggDEEUYOzIGCAQQRRg8MgYIBRBFGD0yBggGEEUYPTIGCAcQRRhB0gEIOTYyNmowajmoAgCwAgE&um=1&ie=UTF-8&fb=1&gl=sg&sa=X&geocode=KTcqE-HAFtoxMUdrJjzXiKsx&daddr=628+Ang+Mo+Kio+Ave+4,+%2301-93,+Singapore+560628">
            Sing Soon Lee Hainanese Boneless Chicken Rice
        </a>
    </div>
</body>
</html>